html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--page-background-color);
}

a {
  text-decoration: none;
  position: relative;
}

a::before,
a::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  margin-top: 5px;
}

a::before {
  content: '';
}

a::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

a:hover::before,
a.active::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

label {
  font-weight: 700;
}

p,
ul {
  line-height: 1.6rem;
  margin: 0;
}
