.base {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.button {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .base {
    display: flex;
    flex-direction: column;
  }
}
